.topheader {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #006291;
  border-bottom-left-radius: 50px; }
  .topheader .toplogo {
    font-family: 'Inknut Antiqua', serif;
    font-size: 20px;
    color: white;
    display: inline-block;
    float: left;
    padding-left: 45px;
    padding-right: 30px;
    background: #006291;
    border-bottom-left-radius: 50px;
    position: relative; }
    .topheader .toplogo:before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -15px;
      display: block;
      width: 30px;
      background: #006291;
      -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
      transform: skew(-20deg); }
  .topheader .topmenu {
    font-family: 'Inknut Antiqua', serif;
    width: 70%;
    float: left;
    margin-top: -2px; }
  .topheader ul {
    padding-left: 45px;
    padding-right: 10px; }
    .topheader ul li {
      display: inline-block;
      line-height: 51.8px;
      padding-left: 50px; }
    .topheader ul a {
      text-decoration: none;
      color: #006291;
      padding: 0 10px; }
    .topheader ul a:hover {
      background: #006291;
      color: white;
      display: block;
      -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
      transform: skew(-20deg);
      padding: 0 10px; }
    .topheader ul a:hover span {
      display: block;
      -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
      transform: skew(20deg);
      color: white; }
    .topheader ul a:visited {
      color: #006291; }

.sideheader {
  width: 100%;
  height: 50px;
  border-bottom-left-radius: 50px; }
  .sideheader .sidelogo {
    font-family: 'Inknut Antiqua', serif;
    font-size: 20px;
    color: white;
    display: inline-block;
    float: left;
    padding-left: 45px;
    padding-right: 30px;
    background: #006291;
    border-top-right-radius: 50px; }
  .sideheader .sidemenu {
    width: 70%;
    float: left;
    margin-top: -2px; }

.contact {
  width: 100%;
  padding-bottom: 50px;
  background: white;
  position: relative;
  z-index: 1; }
  .contact:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .contact:after {
    bottom: 0;
    -webkit-transform: skewY(-1.5deg);
    -ms-transform: skewY(-1.5deg);
    transform: skewY(-1.5deg);
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
    transform-origin: 100%; }
  .contact .left {
    border-right: 2px solid #006291;
    border-bottom: 2px solid #006291;
    border-bottom-right-radius: 50px;
    float: left;
    margin-left: -177px;
    padding-right: 53px;
    padding-left: 44px;
    padding-bottom: 100px; }
    .contact .left li {
      color: #006291;
      padding-top: 10px; }
    .contact .left a {
      color: #006291; }
    .contact .left a:hover {
      background: #006291;
      color: white;
      display: block;
      -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
      transform: skew(-20deg); }
    .contact .left a:hover span {
      display: block;
      -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
      transform: skew(20deg);
      color: white; }
    .contact .left a:visited {
      color: #006291; }
  .contact .middle {
    width: 300px;
    margin: auto; }
  .contact .right {
    width: 300px;
    margin: auto;
    padding: 10px;
    text-align: center; }
  .contact .circle {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #006291;
    color: white;
    line-height: 40px;
    text-align: center;
    box-shadow: 3px 3px grey;
    font-size: 10px;
    display: inline-block;
    margin-left: 10px; }

.about {
  width: 100%;
  background: #006291;
  color: white;
  padding: 70px 0; }
  .about img {
    width: 150px;
    height: 150px; }

.portfolio {
  width: 100%;
  background: white;
  padding: 70px 0;
  position: relative;
  z-index: 1; }
  .portfolio:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .portfolio:before {
    top: 0;
    -webkit-transform: skewY(1.5deg);
    -ms-transform: skewY(1.5deg);
    transform: skewY(1.5deg);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0; }
  .portfolio ul {
    margin-left: 5%; }
  .portfolio li {
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 22.75%; }
    .portfolio li:nth-child(4n) {
      margin-right: 0; }
  .portfolio .port {
    background: white;
    width: 155px;
    height: 155px;
    padding: 5px 0 0 5px; }

@media (min-width: 915px) {
  span.side {
    display: none; } }

@media (max-width: 915px) {
  span.top {
    display: none; }
  span.side {
    display: block; }
  .portfolio ul {
    margin: 30%;
    margin-top: 30px; }
  .portfolio li {
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 48.5%; }
    .portfolio li:nth-child(2n) {
      margin-right: 0; } }

@media (max-width: 775px) {
  .portfolio ul {
    display: block;
    text-align: center;
    margin-top: 30px; }
  .portfolio li {
    float: left;
    margin-right: 30%;
    margin-bottom: 30%;
    width: 100%; }
    .portfolio li:nth-child(1n) {
      margin-right: 0; } }

@media (max-width: 600px) {
  .contact .middle p {
    font-size: 11px; }
  .contact .right {
    padding-left: 100px; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .contact .left {
    padding-right: 51.9px; } }
